@use "../node_modules/bootstrap/scss/functions" as fn;

// Custom Theme colors
$red-ferle: #e21617;
$yellow-ferle: #fec811;

//red-ferle-tones
$red-ferle-100: fn.tint-color($red-ferle, 80%) !default;
$red-ferle-200: fn.tint-color($red-ferle, 60%) !default;
$red-ferle-300: fn.tint-color($red-ferle, 40%) !default;
$red-ferle-400: fn.tint-color($red-ferle, 20%) !default;
$red-ferle-500: $red-ferle !default;
$red-ferle-600: fn.shade-color($red-ferle, 20%) !default;
$red-ferle-700: fn.shade-color($red-ferle, 40%) !default;
$red-ferle-800: fn.shade-color($red-ferle, 60%) !default;
$red-ferle-900: fn.shade-color($red-ferle, 80%) !default;

// yellow-ferle-themes
$yellow-ferle-100: fn.tint-color($yellow-ferle, 80%) !default;
$yellow-ferle-200: fn.tint-color($yellow-ferle, 60%) !default;
$yellow-ferle-300: fn.tint-color($yellow-ferle, 40%) !default;
$yellow-ferle-400: fn.tint-color($yellow-ferle, 20%) !default;
$yellow-ferle-500: $yellow-ferle !default;
$yellow-ferle-600: fn.shade-color($yellow-ferle, 20%) !default;
$yellow-ferle-700: fn.shade-color($yellow-ferle, 40%) !default;
$yellow-ferle-800: fn.shade-color($yellow-ferle, 60%) !default;
$yellow-ferle-900: fn.shade-color($yellow-ferle, 80%) !default;

$primary: $red-ferle-700;
$secondary: $yellow-ferle-400;

@import "../node_modules/bootstrap/scss/bootstrap";


