.imageHolder {
  width: 100%;
  height: 200px;
  overflow: hidden;
  > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: 0.3s;
    &:hover {
      transform: scale(1.1);
    }  
  }
}