// Using Camel-Case instead of Kebab-Case for naming clasess
.imageHolder {
  position: relative;
  > div {
    height: 200px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-image: linear-gradient(
        to right,
        rgba(255, 255, 255 , 0.7),
        rgba(255, 255, 255 , 0.7),
        rgba(0, 0, 0, 0.0)
      );  
    }
  }
  > h1 {
    position: absolute;
    top: 3rem;
    left: 3rem;
  } 
}